@import '~bootstrap/scss/bootstrap';
@import "~highlight.js/styles/base16/github.css";

article.blog-post {
  iframe {
    aspect-ratio: 1;
    height: auto;
    @media (min-width: 768px) {
      aspect-ratio: 16/9;
    }
  }
  .round {
    border-radius: 50%;
  }
}
