@import '~bootstrap/scss/bootstrap';
@import "~highlight.js/styles/base16/github.css";

img, iframe {
  max-width: calc(100vw - 25px);
}

#preview {
  padding: 10px;
  img {
    max-width: 100%;
    padding: 10px;
  }
}
