{{define "title"}}{{if .Title}}{{ .Title }}{{ else }}Новая запись{{ end }}{{end}}

{{define "main"}}
  <style>
    #preview {
      padding: 10px;
    }
    #preview img {
      max-width: 100%;
      padding: 10px;
    }
  </style>
  <form id="save">
    <div class="row g-3">
      <div class="col-12">
        <label for="title" class="form-label">Заголовок</label>
        <input type="text" class="form-control" id="title" placeholder="Заголовок" required="" value="{{ .Title }}">
      </div>
      <div class="container-fluid pb-3">
        <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
          <div class="bg-light border rounded-3">
            <textarea id="article" class="form-control" rows="25" cols="45">{{ .Content }}</textarea>
          </div>
          <div id="preview" class="bg-light border rounded-3">
          </div>
        </div>
        <hr class="my-4">
        <button class="w-100 btn btn-primary btn-lg">Сохранить</button>
        <div class="form-check">
          <input id="draft" name="draft" type="checkbox" class="form-check-input"{{ if .Draft }} checked=""{{end}}>
          <label class="form-check-label" for="draft">Черновик</label>
        </div>
      </div>
    </div>
  </form>
{{end}}
{{template "base" .}}
{{define "scripts"}}
  <script src="/static/admin.js"></script>
{{end}}
