{{define "title"}}{{ .Tag }}{{end}}

{{define "main"}}
  {{ if .Articles }}
    {{ with index .Articles 0 }}
      <div class="row">
        <div class="col-md-12">
          <article class="blog-post">
            <a href="/article/{{ .ID }}"><h2 class="blog-post-title">{{ .Title }}</h2></a>
            <p class="blog-post-meta">{{ .CreatedAt.Format "02.01.2006 15:04:05" }}{{ if .Authorized }} <a href="/admin/update/{{.ID}}">Edit</a> {{ end }}</p>
              {{ .Content }}
          </article>
        </div>
      </div>
    {{ end }}
    {{ range slice .Articles 1 }}
      <div class="row">
        <div class="col-md-12">
          <article class="blog-post">
            <a href="/article/{{ .ID }}"><h2 class="blog-post-title">{{ .Title }}</h2></a>
            <p class="blog-post-meta">{{ .CreatedAt.Format "02.01.2006 15:04:05" }}</p>
          </article>
        </div>
      </div>
    {{ end }}
  {{ end }}
{{end}}
{{template "base" .}}
