{{define "title"}}{{ .Tag }}{{end}}

{{define "main"}}
  {{ if .Articles }}
      {{ range .Articles }}
      <div class="row">
        <div class="col-md-12">
          <article class="blog-post page">
            <h2 class="blog-post-title">{{ .Title }}</h2>
              {{ .Content }}
          </article>
        </div>
      </div>
    {{ end }}
  {{ end }}
{{end}}
{{template "base" .}}
